{% extends 'online_exam/base_student.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Reset Password</title>

{% endblock title %}

{% block content %}

<div class="">
  <form class="form-inline text-white">
    {{ form|crispy }}
  </form>
</div>
    <div class="page custom-pages">
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col  mx-auto">
            <div class="text-center mb-6">
              <img src="../assets/images/brand/logo.png" class="" alt="">
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="card-group mb-0">
                  <div class="card p-4">
                    <div class="card-body">
                      <p>Please enter the email address registered on your account</p>
                      {% include 'partials/_alerts.html' %}
                      <form method="post">
                        {% csrf_token %}
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fa fa-envelope text-cylinder bg-white tx-16 lh-0 op-6"></i>
                          </div>
                        </div><!-- input-group-prepend -->
                          {% for field in form %}
                          {{field}}
                          {% endfor %}
                      </div>
                      <input type="submit" class="form-group col-md-12 btn btn-cylinder" value="Send me email">

                      </form>
                      <div class="row">
                        <div class="col-12">
                        </div>
                      </div>
                      <div class="text-center text-dark mt-3 ">
                        Forget it, <a href="{% url 'login' %}"><span class="text-cylinder">send me back</span></a> to the sign in screen.
                      </div>
                    </div>
                  </div>
                  <div class="card  py-5 d-md-down-none login-transparent">
                    <div class="card-body text-center align-items-center">
                      <div>
                        <i class="fa fa-lock fa-10x text-cylinder bg-white tx-16 lh-0 op-6"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>




{% endblock content%}
