{% extends 'online_exam/base_student.html' %}
{% load static %}

{% block title %}
  <title>Approved Exams</title>

{% endblock title %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Exams
      </h1>
      <ol class="breadcrumb">
        <li><a href="../student_exams/"><i class="fa fa-clipboard"></i>Examinations</a></li>
        <li class="active">Approved Examinations</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        {% for i in exams %}
        <div class = "col-lg-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">{{i.exam_name}}</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
        <div class="box-body" style="display: block;">
          <div class="container" style="width:100%">
            <div class="row"><div class="col-lg-6"><h4>Description:</h4></div><div class="col-lg-6">{{i.exam_name}}</div></div>
            <div class="row"><div class="col-lg-6"><h4>Course:</h4></div><div class="col-lg-6">{{i.course_name}}</div></div>
            <div class="row"><div class="col-lg-6"><h4>No. of Questions:</h4></div><div class="col-lg-6">{{i.no_of_questions}}</div></div>
            <div class="row"><div class="col-lg-6"><h4>Attempt no:</h4></div><div class="col-lg-6">{{i.attempt_no}}</div></div>
            <div class="row"><div class="col-lg-6"><h4>Pass percentage:</h4></div><div class="col-lg-6">{{i.pass_percentage}}</div></div>
            <div class="row"><div class="col-lg-6"><h4>Start Time:</h4></div><div class="col-lg-6">{{i.start_time}}</div></div>
            <div class="row"><div class="col-lg-6"><h4>End Time:</h4></div><div class="col-lg-6">{{i.end_time}}</div></div>
          </div>
        </div>
        {% if i.attemptable == 0%}
        <div class="box-footer" style="display:block;"><button class="btn btn-primary disabled" type="submit" style="float:right">Attempt</button></div>
        {% else %}
        <div class="box-footer" style="display:block;"><form method = "POST" action = "../student_attempt_exam/"><input type = "hidden" name = "exam_id" value = "{{i.exam_id}}"><input type = "hidden" name = "registration_id" value = "{{i.registration_id}}">{% csrf_token %}<button class="btn btn-primary" type="submit" style="float:right">Attempt</button></div>
        {% endif %}
      </div>
    </div>
      {% endfor %}

    </section>
  </div>
{% endblock content%}
